@page "{action?}/{id?}/{themeName?}"

@using Pages.Web.Pages.Admin.Membership;
@using Pages.Data.Scaffolding.Models

@model UsersModel

@if(Model.SystemMessage != null && Model.SystemMessage != "")
{
    <div class="SystemMessages">@Html.Raw(Model.SystemMessage)</div>
}
else if(TempData["SystemMessage"] != null && (string)TempData["SystemMessage"] != "")
{
    <div class="SystemMessages">@Html.Raw(TempData["SystemMessage"])</div>
    TempData.Remove("SystemMessage");
}

<h2>
    @if(Model.User == null || Model.User.Id == 0)
    {
        <text>Create New User</text>
    }
    else
    {
        <text>Edit - @Model.User.Name</text>;
    }
</h2>
<form method="post">
    <div>
        <label asp-for="User.Name"></label>
        <input asp-for="User.Name" />
        <span asp-validation-for="User.Name"></span>
    </div>

    <div>
        <label asp-for="User.Email"></label>
        <input asp-for="User.Email" />
        <span asp-validation-for="User.Email"></span>
    </div>

    <div>
        <label asp-for="User.Password"></label>
        <input asp-for="User.Password" />
        <span asp-validation-for="User.Password"></span>
    </div>
    @if(Model.User != null)
    {
        <div>
            <div>
                <label asp-for="Theme.Name"></label>
                <input asp-for="Theme.Name" />
                <span asp-validation-for="Theme.Name"></span>

                <label asp-for="Theme.Color"></label>
                <input asp-for="Theme.Color" />
                <span asp-validation-for="Theme.Color"></span>
                <input type="hidden" asp-for="Theme.UserId" value="@Model.User.Id" />
                <input type="submit" asp-page-handler="Theme" value="@(Model.Theme == null || Model.Theme.Id == 0 ? "Create" : "Update")" />
            </div>
            <table class="table admin_table tiny" cellpadding="0" cellspacing="0">
                @foreach(Theme theme in Model.User.Themes)
                {
                    <tr>
                        <td>@theme.Name</td>
                        <td style="background-color:#@theme.Color">@theme.Color</td>
                        <td>
                            <a asp-page="/Admin/Membership/Users" asp-route-action="Edit" asp-route-id="@Model.User.Id" asp-route-themeName="@theme.Name">
                                &#9998;
                            </a>
                        </td>
                        <td>
                            <a onclick="return confirm('Really delete theme @(theme.Name)?')" asp-page="/Admin/Membership/Users" asp-route-action="ThemeDelete" asp-route-id="@Model.User.Id" asp-route-themeName="@theme.Name">
                                &#10006;
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    <div>
        <input type="submit" asp-page-handler="User" asp-route-action="Edit" value="@(Model.User == null || Model.User.Id == 0 ? "Create" : "Update")" />
    </div>
</form>
@if(Model.Users.Count() > 0)
{
    <table class="table admin_table" cellpadding="0" cellspacing="0">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Themes</th>
            <th></th>
            <th></th>
        </tr>
        @foreach(User user in Model.Users)
        {
            <tr>
                <td>
                    @user.Id
                </td>
                <td>
                    @user.Name
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @user.Password
                </td>
                <td>
                    @foreach(Theme theme in user.Themes.ToList())
                    {
                        <p>@theme.Name</p>
                    }
                </td>
                <td>
                    <a asp-page="/Admin/Membership/Users" asp-route-action="Edit" asp-route-id="@user.Id">
                        &#9998;
                    </a>
                </td>
                <td>
                    <a onclick="return confirm('Really delete user @(user.Name)?')" asp-page="/Admin/Membership/Users" asp-route-action="Delete" asp-route-id="@user.Id">
                        &#10006;
                    </a>
                </td>
            </tr>
        }
    </table>
}

@foreach(KeyValuePair<string, Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateEntry> state in ModelState.ToList())
{
    <p>@state.Key - @state.Value</p>
}