@using System.IO;
@using Pages.Tools.Http;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <wrapper>
            <nav>
                <ul>
                    @{
                        List<DirectoryInfo> dirs = new DirectoryInfo("Pages/" + (UrlHelper.IsAdmin(Context) ? "Admin/" : "")).GetDirectories().Where(d => !d.Name.ToLower().Contains("admin")).ToList();

                        if(UrlHelper.IsAdmin(Context))
                        {
                            dirs.Insert(0, new DirectoryInfo("Pages/").GetDirectories().FirstOrDefault(d => d.Name.ToLower().Contains("home") || d.Name.ToLower().Contains("hjem")));
                        }

                        foreach(DirectoryInfo dir in dirs)
                        {
                            FileInfo index = dir.GetFiles().FirstOrDefault(f => f.Name.ToLower().Contains("index") && f.Extension.Equals(".cshtml"));
                            IEnumerable<FileInfo> subFiles = dir.GetFiles().Where(f => !f.Name.ToLower().Contains("index") && f.Extension.Equals(".cshtml"));
                            if(subFiles.Any() || index != null)
                            {
                                <li class="parent_menu">
                                    @if(index != null)
                                    {
                                        <a asp-page="/@dir.Name/Index">@dir.Name.Replace("_", " ")</a>
                                    }
                                    else if(subFiles.Any())
                                    {
                                        <p>@dir.Name.Replace("_", " ")</p>
                                    }

                                    @if(subFiles != null && subFiles.Any())
                                    {
                                        <div class="sub_menu">
                                            <ul class="sub_menu_container">
                                                @foreach(FileInfo file in subFiles)
                                                {
                                                    <li>
                                                        @dir.Name
                                                        <a asp-page="@(UrlHelper.IsAdmin(Context) && dir.Name != "Home" ? "/Admin" : "")/@dir.Name/@file.Name.Substring(0, file.Name.IndexOf('.'))">@file.Name.Substring(0, file.Name.IndexOf(".")).Replace("_", " ")</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </li>
                            }
                        }
                    }
                </ul>
            </nav>
        </wrapper>
    </header>
    <wrapper class="content">
        @RenderBody()
    </wrapper>
</body>
</html>