@using System.IO;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>

    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>
<body>
    <header>
        <wrapper>
            <nav>
                <ul>
                    @foreach(DirectoryInfo dir in new DirectoryInfo("Pages/").GetDirectories().Where(d => !d.Name.ToLower().Contains("admin")))
                    {
                        FileInfo index = dir.GetFiles().FirstOrDefault(f => f.Name.ToLower().Contains("index") && f.Extension.Equals(".cshtml"));
                        IEnumerable<FileInfo> subFiles = dir.GetFiles().Where(f => !f.Name.ToLower().Contains("index") && f.Extension.Equals(".cshtml"));
                        if(subFiles.Any() || index != null)
                        {
                            <li class="parent_menu">
                                @if(index != null)
                                {
                                    <a asp-page="/@dir.Name/Index">@dir.Name</a>
                                }
                                else if(subFiles.Any())
                                {
                                    <p>@dir.Name</p>
                                }

                                @if(subFiles != null && subFiles.Any())
                                {
                                    <div class="sub_menu">
                                        <ul class="sub_menu_container">
                                            @foreach(FileInfo file in subFiles)
                                            {
                                                <li>
                                                    <a asp-page="/@dir.Name/@file.Name.Substring(0, file.Name.IndexOf('.'))">@file.Name.Substring(0, file.Name.IndexOf("."))</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                }
                            </li>
                        }
                    }
                </ul>
            </nav>
        </wrapper>
    </header>
    @RenderBody()
</body>
</html>